body {
  margin: 0;
}

.header {
  background-color: #2BCDC0;
  color: white;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3em;
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-size: 2em;
  display: flex;
  align-content: center;
}

.main-body {
  max-height: auto;
  background-color: #1B1B1B;
  color: white;  
}

.main-body-area {
  display: flex;
  flex-direction: row;
}

.box {
  height: 30px;
  width: 180px;
}

.blue {
  background-color: #33A8DD;
}

.red {
  background-color: #F46731;
}

.green {
  background-color: #2BCDC0;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 576px) {
  .main-body-area{
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #F7F5F6;
    color: black;
  }
  .header {
    background-color: #33A8DD;
  }
}